In [4]:
import pixiedust
pixiedust.optOut()

Pixiedust will not collect anonymous install statistics.

In [9]:
import pandas as pd
data_1 = pd.read_excel("../../Imigration_Data/Imigration_Enforsment_Actions_YRBK_2016_ENF_Excel_Final/fy2016_table33.xls")
data_1.head()

   Year  Number
0  1925   22199
1  1926   12735
2  1927   16393
3  1928   23566
4  1929   32711

In [10]:
# Let's start out by removing the ',' from our numbers in the Deaths and Population columns so that we can use them as integers
#df_data_2['Deaths'] = df_data_2['Deaths'].str.replace(',', '')
#df_data_2['Deaths'] = df_data_2['Deaths'].astype(int)
data_1['Year'] = data_1['Year'].astype(int)
data_1['Number'] = data_1['Number'].astype(int)

In [35]:
# data['Year'] = pd.eval(data['Year'])
data.Year = pd.to_numeric(data.Year, errors='coerce')
data.Number = pd.to_numeric(data.Number)
data.head()

     Year  Number
0  1925.0   22199
1  1926.0   12735
2  1927.0   16393
3  1928.0   23566
4  1929.0   32711

In [56]:
data34d = pd.read_excel("../../Imigration_Data/Imigration_Enforsment_Actions_YRBK_2016_ENF_Excel_Final/fy2016_table34d.xls")
data.head()

,Region and country of nationality,2007,2008 1,2009 2,2010,2011,2012,2013,2014,2015,2016 4
0,Afghanistan,28,74,76,92,111,98,70,66,71,84
1,Albania,259,362,331,321,258,277,423,408,91,152
2,Algeria,49,59,53,62,36,42,27,42,26,38
3,Angola,13,30,24,22,28,22,16,13,11,6
4,Antigua and Barbuda,23,69,59,57,47,56,40,31,21,16

In [59]:
data34d["2010"] = pd.to_numeric(data34d["2010"])

KeyError: '2010'

In [ ]:
display(data34d)

In [54]:
df35 = pixiedust.sampleData("file:///home/vas1a/Projects/Imigration_Data/Imigration_Enforsment_Actions_YRBK_2016_ENF_Excel_Final/fy2016_table35.xls")

Creating pandas DataFrame for 'file:///home/vas1a/Projects/Imigration_Data/Imigration_Enforsment_Actions_YRBK_2016_ENF_Excel_Final/fy2016_table35.xls'. Please wait...
Loading file using 'pandas'
Successfully created pandas DataFrame for 'file:///home/vas1a/Projects/Imigration_Data/Imigration_Enforsment_Actions_YRBK_2016_ENF_Excel_Final/fy2016_table35.xls'

In [ ]:
display(df35)